{{!> layouts/main}}

<section
  class="d-flex justify-content-center align-items-center"
  style="height: 80vh;"
>

  <form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="formFile" class="form-label">Sube una imagen</label>
      <input class="form-control" name="file" type="file" id="formFile" />
    </div>
    <div class="mb-3">
      <button type="button" class="btn btn-success">Publicar</button>
    </div>
  </form>
</section>