<form method="POST">
  <p>
    <label for="username">username</label>
    <input type="text" placeholder="username" name="username" />
  </p>
  <p>
    <label for="password">password</label>
    <input type="password" placeholder="password" name="password" />
  </p>
  <p>
    <button type="submit">{{submit}} </button>
  </p>
</form>