<form method="POST">
  <p class="mb-3">
    <label for="username" class="form-label">username</label>
    <input
      type="text"
      class="form-control"
      placeholder="username"
      name="username"
    />
  </p>
  <p class="mb-3">
    <label class="form-label" for="password">password</label>
    <input
      type="password"
      class="form-control"
      placeholder="password"
      name="password"
    />
  </p>
  <p class="mb-3">
    <button type="submit" class="btn btn-success">{{submit}} </button>
  </p>
</form>