<nav>
  <ul>
    <li>
      <a href="/">home</a>
    </li>
    {{#if token}}

      <li>
        <a href="/dashboard">dashboard</a>
      </li>
      <li>
        <a href="singout">SingOut</a>
      </li>
    {{else}}

      <li>
        <a href="/register">register</a>
      </li>
      <li>
        <a href="/login">login</a>
      </li>
    {{/if}}
  </ul>
</nav>