<nav class="navbar-expand-lg bg-body-tertiary d-flex align-items-center justify-content-between">
  <h2>NodeJS - S3</h2>
  <ul class="nav justify-content-end">

    {{#if token}}

      <li class="nav-item">
        <a href="/dashboard" class="nav-link">dashboard</a>
      </li>
      <li>
        <a href="/pin" class="nav-link">Pin</a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link">Sing Out</a>
      </li>

    {{else}}
      <li class="nav-item">
        <a href="/" class="nav-link">home</a>
      </li>
      <li class="nav-item">
        <a href="/register" class="nav-link"> register</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link">login</a>
      </li>

    {{/if}}
  </ul>
</nav>